STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  32771, 	"指定のファイルを開きます。"
  32772, 	"指定のファイルを開きます。"
  32773, 	"指定のファイルを開きます。"
  32774, 	"指定のファイルを開きます。"
  32775, 	"指定のファイルを開きます。"
  32776, 	"指定のファイルを開きます。"
  32777, 	"指定のファイルを開きます。"
  32778, 	"指定のファイルを開きます。"
  32779, 	"指定のファイルを開きます。"
  32780, 	"指定のファイルを開きます。"
  32781, 	"指定のファイルを開きます。"
  32782, 	"指定のファイルを開きます。"
  32783, 	"指定のファイルを開きます。"
}

