STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  32816, 	"イベントリストペインの表示/非表示を切り替えます。\nイベントリストペインの表示切り替え"
  32817, 	"イベントグラフペイン1の表示/非表示を切り替えます。\nイベントグラフペイン1の表示切り替え"
  32818, 	"イベントグラフペイン2の表示/非表示を切り替えます。\nイベントグラフペイン2の表示切り替え"
  32819, 	"ベロシティを表示します。\nVelocity"
  32820, 	"ベロシティを表示します。\nVelocity"
  32821, 	"ピアノロールに他のトラックを薄く表示させます。\nピアノロールオニオンスキン機能を使う"
  32822, 	"ピアノロールに前のトラックを薄く表示します。\nピアノロールに前のトラックを表示"
  32823, 	"ピアノロールに次のトラックを薄く表示します。\nピアノロールに次のトラックを表示"
  32824, 	"ピアノロールに指定したトラックを薄く表示します。\nピアノロールに指定のトラックを表示"
  32826, 	"ノートイベントを挿入します。\nノートの挿入"
  32827, 	"プログラムチェンジイベントを挿入します。\nプログラムチェンジの挿入"
  32828, 	"コントロールチェンジイベントを挿入します。\nコントロールチェンジの挿入"
  32829, 	"エクスクルーシブイベントを挿入します。\nエクスクルーシブの挿入"
  32830, 	"コメントを挿入します。\nコメントの挿入"
  32831, 	"変数への値を代入する式イベントを挿入します。\n変数代入式の挿入"
}

