STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  32832, 	"テンプレートを選んで各種イベントを挿入します。\nテンプレートの挿入"
  32838, 	"演奏位置でノートを分断します。\nスライス"
  32839, 	"演奏位置でノートを分断し、残った部分を削除します。\nスライス（切り捨て）"
  32840, 	"選択されたデータを一括変更します。\n一括変更"
  32841, 	"ノート（リズムトラックを除く）を移調します。\nトランスポーズ"
  32842, 	"指定の音符単位でノートのTick・Gateを調節します。\nクォンタイズ"
  32843, 	"選択範囲へ直線や曲線でCC Valueなどを入力します。\n選択範囲へ直線・曲線を入力"
  32844, 	"選択されたノートをギターストロークのようにタイミングをずらします。\nストローク"
  32845, 	"選択されたノートを1オクターブ上げます。\n1オクターブ上げる"
  32846, 	"選択されたノートを1オクターブ下げます。\n1オクターブ下げる"
  32847, 	"イベント/Gate/Value欄にて、直接入力を行います。\nイベント値の再編集"
}

