STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  32880, 	"指定の直線・曲線を使用します。"
  32881, 	"指定の直線・曲線を使用します。"
  32882, 	"指定の直線・曲線を使用します。"
  32883, 	"指定の直線・曲線を使用します。"
  32884, 	"直線・曲線の間隔を設定します。\n間隔設定"
  32885, 	"イベントグラフへ描画する際、ノートが存在する位置にのみイベントを挿入します。\nノートの直前"
  32886, 	"演奏を開始、または停止します。\n演奏開始/停止"
  32887, 	"選択した範囲（またはループマーカー）でループ再生します。\nループ"
  32889, 	"50％の速度で演奏します。\n50％"
  32890, 	"100％の速度で演奏します。\n100％"
  32891, 	"150％の速度で演奏します。\n150％"
  32892, 	"200％の速度で演奏します。\n200％"
  32893, 	"300％の速度で演奏します。\n300％"
  32894, 	"曲の先頭へ巻き戻します。\n曲の先頭へ"
  32895, 	"演奏位置を一つ前の小節へ移動します。\n一つ前の小節へ"
}

