STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  32992, 	"パンポットを表示します。\nPanpot"
  32993, 	"ホールドを表示します。\nHold"
  32994, 	"ローパスフィルターの周波数帯域を表示します。\nLPF Cutoff Frequency"
  32995, 	"ローパスフィルターのレゾナンスを表示します。\nResonance"
  32996, 	"マスターボリュームを表示します。\nMaster Volume"
  32997, 	"テンポを挿入します（コンダクタートラックのみ）。\nテンポの挿入"
  32998, 	"演奏位置を二つ前の小節へ移動します。\n二つ前の小節へ"
  32999, 	"更新の無い画面にて、なるべく演奏処理にCPUパワーをまわします。主にWave録音用です。\n低負荷演奏"
  33000, 	"クォンタイズを行う際の、音の長さを指定します。\nクォンタイズ - 全音符"
  33001, 	"クォンタイズを行う際の、音の長さを指定します。\nクォンタイズ - 付点2分音符"
  33002, 	"クォンタイズを行う際の、音の長さを指定します。\nクォンタイズ - 2分音符"
  33003, 	"クォンタイズを行う際の、音の長さを指定します。\nクォンタイズ - 3連2分音符"
  33004, 	"クォンタイズを行う際の、音の長さを指定します。\nクォンタイズ - 付点4分音符"
  33005, 	"クォンタイズを行う際の、音の長さを指定します。\nクォンタイズ - 4分音符"
  33006, 	"クォンタイズを行う際の、音の長さを指定します。\nクォンタイズ - 3連4分音符"
  33007, 	"クォンタイズを行う際の、音の長さを指定します。\nクォンタイズ - 付点8分音符"
}

