STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  33040, 	"カーソル位置の値に 10 を加えます（列やイベントによって補正値は異なります）。\n中単位で加える"
  33041, 	"カーソル位置の値から 10 を引きます（列やイベントによって補正値は異なります）。\n中単位で引く"
  33042, 	"ツールバーの表示/非表示を切り替えます。\nツールバー表示切り替え"
  33043, 	"イベントリストペインにフォーカスを移動します。\nイベントリストペインにフォーカスを移動"
  33044, 	"ツールバーの表示/非表示を切り替えます。\nツールバー表示切り替え"
  33045, 	"条件によって選択範囲を絞り込みます（選択範囲フィルタ）\n選択範囲の絞り込み"
  33046, 	"複数のコントロールチェンジを選んで挿入します。\nコントロールチェンジ（複数）の挿入"
  33047, 	"カーソル位置のノートをプレビューしたり、コントロールチェンジを送信したりします。"
  33048, 	"演奏を一時停止します（演奏位置は戻りません）。\n一時停止"
  33049, 	"ピアノロール部分へスケール/コードを表示します。\nピアノロールにスケール/コードを表示"
  33050, 	"トラックモニターバーの表示/非表示を切り替えます。\nトラックモニターバーの表示切り替え"
  33051, 	"トラックモニターバーをカスタマイズします。\nトラックモニターバーのカスタマイズ"
  33052, 	"デフォルトVelocityを変更します。\nピアニッシシモ"
  33053, 	"デフォルトVelocityを変更します。\nピアニッシモ"
  33054, 	"デフォルトVelocityを変更します。\nピアノ"
  33055, 	"デフォルトVelocityを変更します。\nメゾピアノ"
}

