STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  33280, 	"カーソル位置へMIDI入力されたノートを追加します（Ctrl+MIDI入力で代用可能）。\n追加"
  33281, 	"単音ずつ処理するようにします。\n単音/和音切り替え"
  33282, 	"MIDI入力されたVelocity情報を反映させます。\nVelocity反映のON/OFF切り替え"
  33283, 	"MIDI入力されたNote番号情報を反映させます。\nノート番号反映のON/OFF切り替え"
  33284, 	"ツールバーの表示/非表示を切り替えます。\nツールバー表示切り替え"
  33285, 	"イベントリストのカーソルもしくは演奏線がある小節のみを一時的にソロループ演奏します。\n小節ソロループ演奏"
  33286, 	"演奏位置をループマーカー開始位置へ移動します。\nループマーカー開始位置へ"
  33288, 	"演奏位置をループマーカー終了位置へ移動します。\nループマーカー終了位置へ"
  33289, 	"指定トラックのノートイベントの間隔からテンポを算出し、テンポイベント挿入およびイベント位置の補正をします。\nタップテンポ＆フィット"
  33290, 	"選択範囲を切り取ってクリップボードに保存します（イベントリストのみ）。\n切り取り(詰める)"
  33291, 	"次の小節まで選択します（イベントリスト専用）。\n次の小節まで選択"
  33292, 	"前の小節まで選択します（イベントリスト専用）。\n前の小節まで選択"
  33293, 	"トラックモニターバーおよび演奏モニターバーの各値を初期化します。\nトラック/演奏モニターをリセット"
  33294, 	"特定のコントロールチェンジ（マクロID）を別のコントロールチェンジに置き換えます。\nコントロールチェンジの置換"
  33295, 	"クォンタイズ変更時に、デフォルトGateも同時に変更します。\nデフォルトGateと連動"
}

