STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  61856, 	"ｴﾗｰはありませんでした。"
  61857, 	"%1 へのｱｸｾｽ中に不明なｴﾗｰが発生しました。"
  61858, 	"%1 が見つかりませんでした。"
  61859, 	"%1 には無効なﾊﾟｽが含まれています。"
  61860, 	"開いているﾌｧｲﾙが多すぎるため、%1 を開けませんでした。"
  61861, 	"%1 へのｱｸｾｽは拒否されました。"
  61862, 	"%1 へ無効なﾌｧｲﾙ ﾊﾝﾄﾞﾙが関連付けられていました。"
  61863, 	"現在のﾃﾞｨﾚｸﾄﾘ %1 は削除できませんでした。"
  61864, 	"%1 を作成できませんでした。そのﾃﾞｨﾚｸﾄﾘはいっぱいです。"
  61865, 	"%1 のｼｰｸに失敗しました。"
  61866, 	"%1 へのｱｸｾｽ中にﾊｰﾄﾞｳｪｱ I/O ｴﾗｰが報告されました。"
  61867, 	"%1 へのｱｸｾｽ中に共有違反が発生しました。"
  61868, 	"%1 へのｱｸｾｽ中にﾛｯｸ違反が発生しました。"
  61869, 	"%1 へのｱｸｾｽ中にﾃﾞｨｽｸがいっぱいになりました。"
  61870, 	"%1 の末尾以降にｱｸｾｽしようとしました。"
}

