STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  128, 	"Domino"
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  1000, 	"現在の演奏位置とテンポを表示します。\n現在の演奏位置とテンポ"
  1001, 	"カレントトラックを変更します。\nカレントトラック"
  1002, 	"デフォルトのベロシティ値を指定します。\nデフォルトベロシティ"
  1003, 	"デフォルトのゲート値を指定します。\nデフォルトゲート"
  1004, 	"ペンや選択ツールで行われるクォンタイズを変更します。\nツールクォンタイズ"
  1005, 	" Meas : Tick "
  1006, 	" C 4                "
  1007, 	" 選択 "
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  1008, 	"マークした小節へ移動します。また、右クリックで編集や削除が行えます。"
  1009, 	"直接入力"
  1010, 	"イベントグラフ1のコントロールチェンジマクロを変更します。右クリックで直接入力する事も出来ます。\nコントロールチェンジマクロ"
  1011, 	"イベントグラフ2のコントロールチェンジマクロを変更します。右クリックで直接入力する事も出来ます。\nコントロールチェンジマクロ"
  1012, 	"イベントグラフ3のコントロールチェンジマクロを変更します。右クリックで直接入力する事も出来ます。\nコントロールチェンジマクロ"
  1013, 	"cc 0"
  1014, 	"cc 1"
  1015, 	"cc 2"
  1016, 	"cc 3"
  1017, 	"cc 4"
  1018, 	"カレントトラックを切り替えます。"
  1019, 	"直線・曲線の間隔を設定します。\n間隔設定"
  1020, 	"フリーハンド・直線・曲線などを切り替えます。\n直線・曲線切り替え"
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  32771, 	"指定のファイルを開きます。"
  32772, 	"指定のファイルを開きます。"
  32773, 	"指定のファイルを開きます。"
  32774, 	"指定のファイルを開きます。"
  32775, 	"指定のファイルを開きます。"
  32776, 	"指定のファイルを開きます。"
  32777, 	"指定のファイルを開きます。"
  32778, 	"指定のファイルを開きます。"
  32779, 	"指定のファイルを開きます。"
  32780, 	"指定のファイルを開きます。"
  32781, 	"指定のファイルを開きます。"
  32782, 	"指定のファイルを開きます。"
  32783, 	"指定のファイルを開きます。"
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  32784, 	"指定のファイルを開きます。"
  32785, 	"指定のファイルを開きます。"
  32786, 	"指定のファイルを開きます。"
  32787, 	"指定のファイルを開きます。"
  32788, 	"指定のファイルを開きます。"
  32789, 	"指定のファイルを開きます。"
  32790, 	"指定のファイルを開きます。"
  32791, 	"ファイル履歴をクリアします。\n履歴クリア"
  32792, 	"曲のタイトルや著作権・分解能などの設定を行います。\n曲のプロパティ"
  32793, 	"環境設定を行います。\n環境設定"
  32794, 	"標準MIDI形式(*.mid)でファイルを書き出します。\nSMF書き出し"
  32795, 	"選択範囲を削除します。\n削除"
  32796, 	"クリップボードの内容を挿入貼り付けします。\n挿入貼り付け"
  32797, 	"選択を解除します。\n選択の解除"
  32798, 	"選択された長さの時間を挿入します。\n時間挿入"
  32799, 	"選択された時間を削除します。\n時間削除"
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  32800, 	"MIDI-INからMIDIイベントをリアルタイムに録音します。\nリアルタイム録音"
  32801, 	"MIDI-INからMIDIイベントをステップ録音します。\nステップ録音"
  32802, 	"MIDI-INからエクスクルーシブを受信します。\nエクスクルーシブ受信"
  32803, 	"拍子をコンダクタートラックへ挿入します（小節単位）。\n拍子"
  32804, 	"ツールバーの表示/非表示を切り替えます。\nツールバー表示切り替え"
  32805, 	"Step値の操作によって影響を受けたくない位置（開始時間）を設定します。\nStepロック設定"
  32806, 	"Stepロックの設定を解除します。\nStepロック解除"
  32807, 	"X軸の表示倍率を上げます。\nX軸方向のズームイン"
  32808, 	"X軸の表示倍率を下げます。\nX軸方向のズームアウト"
  32809, 	"Y軸の表示倍率を上げます。\nY軸方向のズームイン"
  32810, 	"Y軸の表示倍率を下げます。\nY軸方向のズームアウト"
  32811, 	"マークバーの表示/非表示を切り替えます。\nマークバーの表示切り替え"
  32812, 	"トラックバーの表示/非表示を切り替えます。\nトラックバーの表示切り替え"
  32813, 	"トラックリストの表示/非表示を切り替えます。\nトラックリストの表示切り替え"
  32814, 	"アウトプットペインの表示/非表示を切り替えます。\nアウトプットペインの表示切り替え"
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  32816, 	"イベントリストペインの表示/非表示を切り替えます。\nイベントリストペインの表示切り替え"
  32817, 	"イベントグラフペイン1の表示/非表示を切り替えます。\nイベントグラフペイン1の表示切り替え"
  32818, 	"イベントグラフペイン2の表示/非表示を切り替えます。\nイベントグラフペイン2の表示切り替え"
  32819, 	"ベロシティを表示します。\nVelocity"
  32820, 	"ベロシティを表示します。\nVelocity"
  32821, 	"ピアノロールに他のトラックを薄く表示させます。\nピアノロールオニオンスキン機能を使う"
  32822, 	"ピアノロールに前のトラックを薄く表示します。\nピアノロールに前のトラックを表示"
  32823, 	"ピアノロールに次のトラックを薄く表示します。\nピアノロールに次のトラックを表示"
  32824, 	"ピアノロールに指定したトラックを薄く表示します。\nピアノロールに指定のトラックを表示"
  32826, 	"ノートイベントを挿入します。\nノートの挿入"
  32827, 	"プログラムチェンジイベントを挿入します。\nプログラムチェンジの挿入"
  32828, 	"コントロールチェンジイベントを挿入します。\nコントロールチェンジの挿入"
  32829, 	"エクスクルーシブイベントを挿入します。\nエクスクルーシブの挿入"
  32830, 	"コメントを挿入します。\nコメントの挿入"
  32831, 	"変数への値を代入する式イベントを挿入します。\n変数代入式の挿入"
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  32832, 	"テンプレートを選んで各種イベントを挿入します。\nテンプレートの挿入"
  32838, 	"演奏位置でノートを分断します。\nスライス"
  32839, 	"演奏位置でノートを分断し、残った部分を削除します。\nスライス（切り捨て）"
  32840, 	"選択されたデータを一括変更します。\n一括変更"
  32841, 	"ノート（リズムトラックを除く）を移調します。\nトランスポーズ"
  32842, 	"指定の音符単位でノートのTick・Gateを調節します。\nクォンタイズ"
  32843, 	"選択範囲へ直線や曲線でCC Valueなどを入力します。\n選択範囲へ直線・曲線を入力"
  32844, 	"選択されたノートをギターストロークのようにタイミングをずらします。\nストローク"
  32845, 	"選択されたノートを1オクターブ上げます。\n1オクターブ上げる"
  32846, 	"選択されたノートを1オクターブ下げます。\n1オクターブ下げる"
  32847, 	"イベント/Gate/Value欄にて、直接入力を行います。\nイベント値の再編集"
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  32848, 	"カーソル位置にあるイベントのプロパティを表示します。\nイベントのプロパティ"
  32849, 	"現在の演奏位置に全トラックのEnd of Trackが来るように調節します。\nEnd Of Trackの調節"
  32850, 	"ピアノロール上へノートを配置します。コントロールペイン上へデータを書き込みます。\nペン"
  32851, 	"ピアノロールまたはコントロールペインを左ドラッグで選択します。\n選択"
  32852, 	"ピアノロールまたはコントロールペインにて左ドラッグした範囲を削除します。\n消しゴム"
  32853, 	"ペンツールと選択ツールを切り替えます。\nペン/選択ツールの切り替え"
  32855, 	"ノートの配置位置をクォンタイズします。\nTickクォンタイズ"
  32856, 	"ノートの長さをクォンタイズします。\nGateクォンタイズ"
  32857, 	"イベントグラフペインにフリーハンドでデータを書き込みます。\nフリーハンド"
  32858, 	"イベントグラフペインに直線データを書き込みます。\n直線"
  32859, 	"イベントグラフペインにゆるやかな曲線データを書き込みます。\nゆるやかな曲線"
  32861, 	"イベントグラフペインに早い曲線データを書き込みます。\nはやい曲線"
  32862, 	"イベントグラフペインにランダムデータを書き込みます。\nランダム"
  32863, 	"イベントグラフに書き込む曲線の式を編集します。\n曲線カスタマイズ"
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  32864, 	"指定の直線・曲線を使用します。"
  32865, 	"指定の直線・曲線を使用します。"
  32866, 	"指定の直線・曲線を使用します。"
  32867, 	"指定の直線・曲線を使用します。"
  32868, 	"指定の直線・曲線を使用します。"
  32869, 	"指定の直線・曲線を使用します。"
  32870, 	"指定の直線・曲線を使用します。"
  32871, 	"指定の直線・曲線を使用します。"
  32872, 	"指定の直線・曲線を使用します。"
  32873, 	"指定の直線・曲線を使用します。"
  32874, 	"指定の直線・曲線を使用します。"
  32875, 	"指定の直線・曲線を使用します。"
  32876, 	"指定の直線・曲線を使用します。"
  32877, 	"指定の直線・曲線を使用します。"
  32878, 	"指定の直線・曲線を使用します。"
  32879, 	"指定の直線・曲線を使用します。"
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  32880, 	"指定の直線・曲線を使用します。"
  32881, 	"指定の直線・曲線を使用します。"
  32882, 	"指定の直線・曲線を使用します。"
  32883, 	"指定の直線・曲線を使用します。"
  32884, 	"直線・曲線の間隔を設定します。\n間隔設定"
  32885, 	"イベントグラフへ描画する際、ノートが存在する位置にのみイベントを挿入します。\nノートの直前"
  32886, 	"演奏を開始、または停止します。\n演奏開始/停止"
  32887, 	"選択した範囲（またはループマーカー）でループ再生します。\nループ"
  32889, 	"50％の速度で演奏します。\n50％"
  32890, 	"100％の速度で演奏します。\n100％"
  32891, 	"150％の速度で演奏します。\n150％"
  32892, 	"200％の速度で演奏します。\n200％"
  32893, 	"300％の速度で演奏します。\n300％"
  32894, 	"曲の先頭へ巻き戻します。\n曲の先頭へ"
  32895, 	"演奏位置を一つ前の小節へ移動します。\n一つ前の小節へ"
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  32896, 	"演奏位置を次の小節の位置へ移動します。\n一つ次の小節へ"
  32897, 	"カレントトラックの演奏する/しないを切り替えます。\nトラックの演奏"
  32898, 	"カレントトラックをソロ演奏します。\nソロ演奏"
  32899, 	"全トラックを演奏します。\n全トラック演奏"
  32900, 	"現在の演奏位置と音源の内部状態（ピッチベンドなど）を合わせます。\nMIDI機器の状態を合わせる"
  32901, 	"おおよその演奏時間を計算します。\n演奏時間の算出"
  32902, 	"新しいトラックを追加します。\nトラックの追加"
  32903, 	"選択されたトラックを削除します。\nトラックの削除"
  32904, 	"トラックのプロパティを表示します。\nトラックのプロパティ"
  32905, 	"一つ前のトラックを表示します。\n前のトラックへ"
  32906, 	"一つ次のトラックを表示します。\n次のトラックへ"
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  32941, 	"マークをコンダクタートラックへ挿入します。\nマークの挿入"
  32942, 	"登録されているマーク一覧を表示し、追加や削除を行います。\n編集"
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  32973, 	"コントロール値を上下左右に移動させるアンカーの表示/非表示を切り替えます。\nアンカーの表示切り替え"
  32974, 	"コントロール値を上下左右に移動させるアンカーの表示/非表示を切り替えます。\nアンカーの表示切り替え"
  32975, 	"出力内容をクリップボードへコピーします。"
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  32976, 	"曲の最後尾へ移動します。\n曲の最後尾へ"
  32977, 	"ピッチベンドを表示します。\nPitch Bend"
  32979, 	"モジュレーションを表示します。\nModulation"
  32980, 	"エクスプレッションを表示します。\nExpression"
  32982, 	"ボリュームを表示します。\nVolume"
  32983, 	"パンポットを表示します。\nPanpot"
  32984, 	"ホールドを表示します。\nHold"
  32985, 	"ローパスフィルターの周波数帯域を表示します。\nLPF Cutoff Frequency"
  32986, 	"ローパスフィルターのレゾナンスを表示します。\nResonance"
  32987, 	"マスターボリュームを表示します。\nMaster Volume"
  32988, 	"ピッチベンドを表示します。\nPitch Bend"
  32989, 	"モジュレーションを表示します。\nModulation"
  32990, 	"エクスプレッションを表示します。\nExpression"
  32991, 	"ボリュームを表示します。\nVolume"
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  32992, 	"パンポットを表示します。\nPanpot"
  32993, 	"ホールドを表示します。\nHold"
  32994, 	"ローパスフィルターの周波数帯域を表示します。\nLPF Cutoff Frequency"
  32995, 	"ローパスフィルターのレゾナンスを表示します。\nResonance"
  32996, 	"マスターボリュームを表示します。\nMaster Volume"
  32997, 	"テンポを挿入します（コンダクタートラックのみ）。\nテンポの挿入"
  32998, 	"演奏位置を二つ前の小節へ移動します。\n二つ前の小節へ"
  32999, 	"更新の無い画面にて、なるべく演奏処理にCPUパワーをまわします。主にWave録音用です。\n低負荷演奏"
  33000, 	"クォンタイズを行う際の、音の長さを指定します。\nクォンタイズ - 全音符"
  33001, 	"クォンタイズを行う際の、音の長さを指定します。\nクォンタイズ - 付点2分音符"
  33002, 	"クォンタイズを行う際の、音の長さを指定します。\nクォンタイズ - 2分音符"
  33003, 	"クォンタイズを行う際の、音の長さを指定します。\nクォンタイズ - 3連2分音符"
  33004, 	"クォンタイズを行う際の、音の長さを指定します。\nクォンタイズ - 付点4分音符"
  33005, 	"クォンタイズを行う際の、音の長さを指定します。\nクォンタイズ - 4分音符"
  33006, 	"クォンタイズを行う際の、音の長さを指定します。\nクォンタイズ - 3連4分音符"
  33007, 	"クォンタイズを行う際の、音の長さを指定します。\nクォンタイズ - 付点8分音符"
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  33008, 	"クォンタイズを行う際の、音の長さを指定します。\nクォンタイズ - 8分音符"
  33009, 	"クォンタイズを行う際の、音の長さを指定します。\nクォンタイズ - 3連8分音符"
  33010, 	"クォンタイズを行う際の、音の長さを指定します。\nクォンタイズ - 付点16分音符"
  33011, 	"クォンタイズを行う際の、音の長さを指定します。\nクォンタイズ - 16分音符"
  33012, 	"クォンタイズを行う際の、音の長さを指定します。\nクォンタイズ - 3連16分音符"
  33013, 	"クォンタイズを行う際の、音の長さを指定します。\nクォンタイズ - 付点32分音"
  33014, 	"クォンタイズを行う際の、音の長さを指定します。\nクォンタイズ - 32分音符"
  33015, 	"クォンタイズを行う際の、音の長さを指定します。\nクォンタイズ - 3連32分音符"
  33016, 	"ツールバーをカスタマイズします。\nカスタマイズ"
  33017, 	"ツールバーの表示/非表示を切り替えます。\nツールバー表示切り替え"
  33018, 	"イベントリストやイベントグラフのサイズを初期状態に戻します。\n各ペインのサイズをリセット"
  33020, 	"取扱説明書を開きます。\n取扱説明書"
  33021, 	"公式サイトをブラウザで開きます。\n公式サイトへ"
  33022, 	"不具合報告テンプレートを表示します。\n不具合報告"
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  33024, 	"音源定義ファイルの情報を表示します。\n音源定義ファイル情報"
  33025, 	"イベントグラフへ指定値を書き込みます。"
  33026, 	"イベントグラフへ指定値を書き込みます。"
  33027, 	"イベントグラフへ指定値を書き込みます。"
  33028, 	"イベントグラフへ指定値を書き込みます。"
  33029, 	"イベントグラフへ指定値を書き込みます。"
  33030, 	"イベントグラフへ指定値を書き込みます。"
  33031, 	"イベントグラフへ指定値を書き込みます。"
  33032, 	"イベントグラフへ指定値を書き込みます。"
  33033, 	"イベントグラフへ指定値を書き込みます。"
  33034, 	"イベントグラフへ指定値を書き込みます。"
  33035, 	"演奏位置を手動で変更した際に、現在の演奏位置と音源の内部状態（ピッチベンドなど）を合わせます。\nMIDI機器の状態を自動的に合わせる"
  33036, 	"歌詞を挿入します。\n歌詞の挿入"
  33037, 	"キューポイントを挿入します。\nキューポイントの挿入"
  33038, 	"カーソル位置の値に 1 を加えます（列やイベントによって補正値は異なります）。\n小単位で加える"
  33039, 	"カーソル位置の値から 1 を引きます（列やイベントによって補正値は異なります）。\n小単位で引く"
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  33040, 	"カーソル位置の値に 10 を加えます（列やイベントによって補正値は異なります）。\n中単位で加える"
  33041, 	"カーソル位置の値から 10 を引きます（列やイベントによって補正値は異なります）。\n中単位で引く"
  33042, 	"ツールバーの表示/非表示を切り替えます。\nツールバー表示切り替え"
  33043, 	"イベントリストペインにフォーカスを移動します。\nイベントリストペインにフォーカスを移動"
  33044, 	"ツールバーの表示/非表示を切り替えます。\nツールバー表示切り替え"
  33045, 	"条件によって選択範囲を絞り込みます（選択範囲フィルタ）\n選択範囲の絞り込み"
  33046, 	"複数のコントロールチェンジを選んで挿入します。\nコントロールチェンジ（複数）の挿入"
  33047, 	"カーソル位置のノートをプレビューしたり、コントロールチェンジを送信したりします。"
  33048, 	"演奏を一時停止します（演奏位置は戻りません）。\n一時停止"
  33049, 	"ピアノロール部分へスケール/コードを表示します。\nピアノロールにスケール/コードを表示"
  33050, 	"トラックモニターバーの表示/非表示を切り替えます。\nトラックモニターバーの表示切り替え"
  33051, 	"トラックモニターバーをカスタマイズします。\nトラックモニターバーのカスタマイズ"
  33052, 	"デフォルトVelocityを変更します。\nピアニッシシモ"
  33053, 	"デフォルトVelocityを変更します。\nピアニッシモ"
  33054, 	"デフォルトVelocityを変更します。\nピアノ"
  33055, 	"デフォルトVelocityを変更します。\nメゾピアノ"
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  33056, 	"デフォルトVelocityを変更します。\nメゾフォルテ"
  33057, 	"デフォルトVelocityを変更します。\nフォルテ"
  33058, 	"デフォルトVelocityを変更します。\nフォルティッシモ"
  33059, 	"デフォルトVelocityを変更します。\nフォルティッシシモ"
  33060, 	"デフォルトGateを変更します。\nデフォルトGate - 全音符"
  33061, 	"デフォルトGateを変更します。\nデフォルトGate - 付点2分音符"
  33062, 	"デフォルトGateを変更します。\nデフォルトGate - 2分音符"
  33063, 	"デフォルトGateを変更します。\nデフォルトGate - 3連2分音符"
  33064, 	"デフォルトGateを変更します。\nデフォルトGate - 付点4分音符"
  33065, 	"デフォルトGateを変更します。\nデフォルトGate - 4分音符"
  33066, 	"デフォルトGateを変更します。\nデフォルトGate - 3連4分音符"
  33067, 	"デフォルトGateを変更します。\nデフォルトGate - 付点8分音符"
  33068, 	"デフォルトGateを変更します。\nデフォルトGate - 8分音符"
  33069, 	"デフォルトGateを変更します。\nデフォルトGate - 3連8分音符"
  33070, 	"デフォルトGateを変更します。\nデフォルトGate - 付点16分音符"
  33071, 	"デフォルトGateを変更します。\nデフォルトGate - 16分音符"
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  33072, 	"デフォルトGateを変更します。\nデフォルトGate - 3連16分音符"
  33073, 	"デフォルトGateを変更します。\nデフォルトGate - 付点32分音符"
  33074, 	"デフォルトGateを変更します。\nデフォルトGate - 32分音符"
  33075, 	"デフォルトGateを変更します。\nデフォルトGate - 3連32分音符"
  33076, 	"ツールバーの表示/非表示を切り替えます。\nツールバー表示切り替え"
  33077, 	"カレントポートに対してGMリセットを送信します。\nGMリセット送信"
  33078, 	"ツールバーやマークバーなどが動かないように固定します。\nバー位置の固定"
  33079, 	"イベントリストペインのカーソル位置と演奏位置の同期/非同期を切り替えます。\nイベントリストペインと演奏位置の同期/非同期切り替え"
  33081, 	"デフォルトGate/Velocityをトラック毎に記憶します。\nデフォルト値をトラック毎に記憶"
  33082, 	"オニオンスキンの設定をトラック毎に記憶します。\n設定をトラック毎に記憶する"
  33086, 	"各項目の幅を初期状態に戻します。\n項目の幅をリセット"
  33087, 	"範囲を数値等で指定し、選択します。\n範囲の選択"
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  33090, 	"演奏位置（カレントトラック＋オニオンスキントラック）のコードを解析し、ステータスバーに表示します。\n演奏位置のコードを表示"
  33094, 	"指定したポートのデフォルトトラックを一括して追加します。\nデフォルトトラックの追加"
  33095, 	"選択範囲内に存在するオニオンスキンノートをカレントトラックへコピーします。\nオニオンスキンノートの複製"
  33096, 	"[MIDI機器の状態を合わせる]機能のトラック別設定を行います。\nトラック個別設定"
  33097, 	"選択されたイベントのTickやGate、Value値を乱数でブレさせます。\nヒューマナイズ"
  33098, 	"イベントリストフィルターの詳細設定を行います。\nイベントリストフィルター詳細設定"
  33099, 	"イベントリストフィルター機能のオン/オフを切り替えます。\nフィルター機能を使う"
  33100, 	"イベントリストフィルターの設定を全てリセットします。\nイベントリストフィルターのリセット"
  33101, 	"ノートイベントの表示/非表示を切り替えます。\nイベントリストフィルター : ノートイベント"
  33102, 	"プログラムチェンジイベントの表示/非表示を切り替えます。\nイベントリストフィルター : プログラムチェンジイベント"
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  33104, 	"ベロシティイベントの表示/非表示を切り替えます。\nイベントリストフィルター : Velocity"
  33105, 	"ピッチベンドイベントの表示/非表示を切り替えます。\nイベントリストフィルター : Pitch Bend"
  33106, 	"モジュレーションイベントの表示/非表示を切り替えます。\nイベントリストフィルター : Modulation"
  33107, 	"エクスプレッションイベントの表示/非表示を切り替えます。\nイベントリストフィルター : Expression"
  33108, 	"ボリュームイベントの表示/非表示を切り替えます。\nイベントリストフィルター : Volume"
  33109, 	"パンポットイベントの表示/非表示を切り替えます。\nイベントリストフィルター : Panpot"
  33110, 	"ホールドイベントの表示/非表示を切り替えます。\nイベントリストフィルター : Hold"
  33111, 	"ローパスフィルターの周波数帯域イベントの表示/非表示を切り替えます。\nイベントリストフィルター : LPF Cutoff Frequency"
  33112, 	"レゾナンスイベントの表示/非表示を切り替えます。\nイベントリストフィルター : LPF Resonance"
  33113, 	"マスターボリュームイベントの表示/非表示を切り替えます。\nイベントリストフィルター : Master Volume"
  33114, 	"エクスクルーシブイベントの表示/非表示を切り替えます。\nイベントリストフィルター : エクスクルーシブイベント"
  33115, 	"コメントイベントの表示/非表示を切り替えます。\nイベントリストフィルター : コメントイベント"
  33116, 	"変数代入式イベントの表示/非表示を切り替えます。\nイベントリストフィルター : 変数代入式イベント"
  33117, 	"テンポイベントの表示/非表示を切り替えます。\nイベントリストフィルター : テンポイベント"
  33118, 	"歌詞イベントの表示/非表示を切り替えます。\nイベントリストフィルター : 歌詞イベント"
  33119, 	"キューポイントイベントの表示/非表示を切り替えます。\nイベントリストフィルター : キューポイントイベント"
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  33120, 	"ツールバーの表示/非表示を切り替えます。\nツールバー表示切り替え"
  33121, 	"全コントロールチェンジイベントの表示/非表示を切り替えます。\nイベントリストフィルター : 全コントロールチェンジイベント"
  33122, 	"トラックセレクトペインの表示/非表示を切り替えます。\nトラックセレクトペインの表示切り替え"
  33123, 	"調号をコンダクタートラックへ挿入します（小節単位）。\n調号"
  33124, 	"ノート以外のイベントの選択を解除します。\nノートのみ選択"
  33125, 	"演奏モニターの表示/非表示を切り替えます。\n演奏モニターの表示切り替え"
  33126, 	"MIDIキーボードなどで入力中の情報を元にノートを挿入します。\nMIDI INの情報からノートを挿入"
  33127, 	"イベントリストのカーソルもしくは演奏線がある小節のみを一時的にソロ演奏します。\n小節ソロ演奏"
  33128, 	"カーソル位置の一つ前のイベントを削除します。\n一つ前のイベントを削除"
  33129, 	"カーソル位置の一つ前のイベントを削除します。その際、削除されるイベントのStep分を詰めます。\n一つ前のイベントを削除(詰める)"
  33130, 	"カレントトラックを一時的にソロ演奏します。\nソロ演奏開始"
  33131, 	"演奏を停止します。\n停止"
  33132, 	"ピアノロールを上へスクロールします。\nピアノロールを上へスクロール"
  33133, 	"ピアノロールを下へスクロールします。\nピアノロールを下へスクロール"
  33134, 	"ピアノロールを左へスクロールします。\nピアノロールを左へスクロール"
  33135, 	"ピアノロールを右へスクロールします。\nピアノロールを右へスクロール"
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  33136, 	"イベントを詰めて削除します（イベントリストのみ）。\n削除(詰める)"
  33137, 	"スクロール量を設定します。\nスクロール量の設定"
  33138, 	"コード入力支援機能をオフにします。\n通常入力に戻す"
  33139, 	"コードの登録などを行います。\nコード入力支援の設定"
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  33260, 	"イベントグラフのオニオンスキンを設定します。\nイベントグラフオニオンスキン"
  33261, 	"イベントグラフのオニオンスキンを設定します。\nイベントグラフオニオンスキン"
  33262, 	"コード一覧をポップアップ表示します。\nコード一覧を表示"
  33263, 	"Tick,Gate,Stepへの入力を10倍・100倍・1000倍に桁上げします。\n桁を上げる"
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  33264, 	"Tick,Gate,Stepへの入力を100倍・10倍・1倍に桁下げします。\n桁を下げる"
  33265, 	"カーソル位置のノートを発音します。\nノートイベントの発音"
  33266, 	"カーソル位置のノート（＋同タイミングのノート）を発音します。\nノートイベント（和音）の発音"
  33267, 	"デフォルトGateをクォンタイズ単位で増やします。\nデフォルトGateを増やす"
  33268, 	"デフォルトGateをクォンタイズ単位で減らします。\nデフォルトGateを減らす"
  33269, 	"デフォルトVelocityを増やします（量は環境設定で指定します）。\nデフォルトVelocityを増やす"
  33270, 	"デフォルトVelocityを減らします（量は環境設定で指定します）。\nデフォルトVelocityを減らす"
  33271, 	"選択範囲からループマーカーを作成します。\n選択範囲からループマーカーを作成"
  33272, 	"ループマーカーを削除します。\nループマーカーの削除"
  33273, 	"選択されたノートのGateを次のノート発音位置まで伸縮させます。\nレガート"
  33274, 	"カーソル位置の値に 100 を加えます（列やイベントによって補正値は異なります）。\n大単位で加える"
  33275, 	"カーソル位置の値から 100 を引きます（列やイベントによって補正値は異なります）。\n大単位で引く"
  33276, 	"ファンクションキーバーの表示/非表示を切り替えます。\nファンクションキーバーの表示切り替え"
  33277, 	"イベントリスト専用のMIDI入力機能の有効/無効を切り替えます。\nイベントリストMIDI入力を有効にする"
  33278, 	"カーソル位置のノートをMIDI入力情報に置き換えます（Shift+MIDI入力で代用可能）。\n置き換え"
  33279, 	"カーソル位置へMIDI入力されたノートを挿入します（Alt+MIDI入力で代用可能）。\n挿入"
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  33280, 	"カーソル位置へMIDI入力されたノートを追加します（Ctrl+MIDI入力で代用可能）。\n追加"
  33281, 	"単音ずつ処理するようにします。\n単音/和音切り替え"
  33282, 	"MIDI入力されたVelocity情報を反映させます。\nVelocity反映のON/OFF切り替え"
  33283, 	"MIDI入力されたNote番号情報を反映させます。\nノート番号反映のON/OFF切り替え"
  33284, 	"ツールバーの表示/非表示を切り替えます。\nツールバー表示切り替え"
  33285, 	"イベントリストのカーソルもしくは演奏線がある小節のみを一時的にソロループ演奏します。\n小節ソロループ演奏"
  33286, 	"演奏位置をループマーカー開始位置へ移動します。\nループマーカー開始位置へ"
  33288, 	"演奏位置をループマーカー終了位置へ移動します。\nループマーカー終了位置へ"
  33289, 	"指定トラックのノートイベントの間隔からテンポを算出し、テンポイベント挿入およびイベント位置の補正をします。\nタップテンポ＆フィット"
  33290, 	"選択範囲を切り取ってクリップボードに保存します（イベントリストのみ）。\n切り取り(詰める)"
  33291, 	"次の小節まで選択します（イベントリスト専用）。\n次の小節まで選択"
  33292, 	"前の小節まで選択します（イベントリスト専用）。\n前の小節まで選択"
  33293, 	"トラックモニターバーおよび演奏モニターバーの各値を初期化します。\nトラック/演奏モニターをリセット"
  33294, 	"特定のコントロールチェンジ（マクロID）を別のコントロールチェンジに置き換えます。\nコントロールチェンジの置換"
  33295, 	"クォンタイズ変更時に、デフォルトGateも同時に変更します。\nデフォルトGateと連動"
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  33296, 	"ピアノロールに同じ色のトラックを薄く表示します。\nピアノロールに同じ色のトラックを表示"
  33297, 	"オニオンスキンの色を自動に変更します。\n自動（未指定）"
  33298, 	"オニオンスキンの色を赤に変更します。\n赤"
  33299, 	"オニオンスキンの色を橙に変更します。\n橙"
  33300, 	"オニオンスキンの色を黄に変更します。\n黄"
  33301, 	"オニオンスキンの色を緑に変更します。\n緑"
  33302, 	"オニオンスキンの色を水に変更します。\n水"
  33303, 	"オニオンスキンの色を紫に変更します。\n紫"
  33304, 	"オニオンスキンの色を桃に変更します。\n桃"
  33305, 	"次の同色トラックを表示します。\n次の同色トラックへ"
  33306, 	"前の同色トラックを表示します。\n前の同色トラックへ"
  33308, 	"カーソル位置のCCイベントを、イベントグラフペイン1で表示します。\nイベントグラフペイン1で表示"
  33309, 	"カーソル位置のCCイベントを、イベントグラフペイン2で表示します。\nイベントグラフペイン2で表示"
  33310, 	"ファイルから環境設定をインポートします。\n環境設定のインポート"
  33311, 	"環境設定情報をファイルへ書き出します。\n環境設定のエクスポート"
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  33313, 	"重複しているノートのGateを重複しないように一括補正します。\n重複ノートのGate一括補正"
  33314, 	"指定した小節と同等の演奏を行うメジャーリンクイベントを挿入します。\nメジャーリンク"
  33315, 	"選択されたメジャーリンクイベントを、リンク先の小節の内容に置き換えます。\nメジャーリンクイベントの復元"
  33316, 	"メジャーリンクイベントの表示/非表示を切り替えます。\nイベントリストフィルター : メジャーリンクイベント"
  33317, 	"特定のコントロールチェンジ（マクロID）を別のコントロールチェンジに置き換えます。\nコントロールチェンジの置換（複数）"
  33318, 	"クリップボードの内容を置換貼り付けします。\n置換貼り付け"
  33319, 	"イベントグラフ2の可能な操作を、アンカー上下移動のみにします。\nイベントグラフペイン2のアンカー上下移動のみ"
  33320, 	"イベントグラフ1の可能な操作を、アンカー上下移動のみにします。\nイベントグラフペイン1のアンカー上下移動のみ"
  33321, 	"選択された範囲を部分的にファイルへ書き出します。\nパーツ書き出し"
  33322, 	"パーツファイルを開き、貼り付けます。\nパーツ読み込み"
  33323, 	"標準MIDI形式(*.mid)でファイルを書き出します（上書きします）。\nSMF書き出しの再実行"
  33324, 	"選択された範囲でノートの左右を反転させます。\n左右反転"
  33325, 	"選択されたノートにおいて、ベロシティのしきい値より上側または下側のばらつきを圧縮します。\nベロシティコンプレッサ"
  33326, 	"演奏位置をクォンタイズ単位で前へ移動します。\nクォンタイズ単位で前へ"
  33327, 	"演奏位置をクォンタイズ単位で次へ移動します。\nクォンタイズ単位で次へ"
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  33328, 	"指定した小節からパターンを取り込み、他の小節のノートを分断します。\nパターンスライス"
  33329, 	"選択されたノートイベントで同じ音階の音を（離れていても）繋げます。\n結合"
  33330, 	"全ポートの音を止めます。音が鳴りやまない場合にお使いください。\nパニック"
  33331, 	"イベントグラフ1を矩形で選択できるようにします。\nイベントグラフ1　矩形選択"
  33332, 	"イベントグラフ2を矩形で選択できるようにします。\nイベントグラフ2　矩形選択"
  33333, 	"演奏中に自動で改ページ（横スクロール）を行います。行う条件は環境設定で変更できます。\n演奏中にピアノロールを自動で改ページする"
  33334, 	"アウトプットペインの内容をすべて削除します。\nクリア"
  33335, 	"スケールをコンダクタートラックへ挿入します（小節単位）。\nスケール"
  33336, 	"コードをコンダクタートラックへ挿入します（小節単位）。\nコード"
  33337, 	"イベントグラフペインにS字曲線データを書き込みます。\nS字曲線"
  33338, 	"選択されたイベントの時間（Tick・Gate）を伸ばしたり縮めたりします。\nタイムストレッチ"
  33339, 	"ループ範囲として、ループマーカーよりも選択範囲を優先します。\nループ範囲を選択範囲優先にする"
  33340, 	"演奏位置とカレントトラックを指定します。\n演奏位置の指定"
  33341, 	"次のマークへ演奏位置を移動します。\n次のマークへ"
  33342, 	"前のマークへ演奏位置を移動します。\n前のマークへ"
  33343, 	"テキストとして用意された歌詞を一気に流し込みます。\n歌詞の流し込み"
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  33344, 	"カレントトラックの選択されたノートに対し、スケール情報を元にハモリパートを生成します。\nハモリパートの生成"
  33345, 	"選択されたイベントのVel/Valueに 1 を加えます（イベントによって補正値は異なります）。\n小単位で加える"
  33346, 	"選択されたイベントのVel/Valueから 1 を引きます（イベントによって補正値は異なります）。\n小単位で引く"
  33347, 	"選択されたイベントのVel/Valueに 10 を加えます（イベントによって補正値は異なります）。\n中単位で加える"
  33348, 	"選択されたイベントのVel/Valueから 10 を引きます（イベントによって補正値は異なります）。\n中単位で引く"
  33349, 	"選択されたイベントのVel/Valueに 100 を加えます（イベントによって補正値は異なります）。\n大単位で加える"
  33350, 	"選択されたイベントのVel/Valueから 100 を引きます（イベントによって補正値は異なります）。\n大単位で引く"
  33351, 	"拍子イベントの表示/非表示を切り替えます。\nイベントリストフィルター : 拍子イベント"
  33352, 	"調号イベントの表示/非表示を切り替えます。\nイベントリストフィルター : 調号イベント"
  33353, 	"スケールイベントの表示/非表示を切り替えます。\nイベントリストフィルター : スケールイベント"
  33354, 	"コードイベントの表示/非表示を切り替えます。\nイベントリストフィルター : コードイベント"
  33355, 	"マークイベントの表示/非表示を切り替えます。\nイベントリストフィルター : マークイベント"
  33356, 	"マークを編集します。\nマークの編集"
  33357, 	"マークを削除します。\nマークの削除"
  33358, 	"条件に当てはまるイベントを検索します。\n検索"
  33359, 	"クォンタイズを行う際の、音の長さを指定します。\nクォンタイズ - 小節"
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  57344, 	"Domino"
  57345, 	" "
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  57600, 	"新規に曲を作成します。\n新規作成"
  57601, 	"音楽ファイルを開きます。\n開く"
  57603, 	"作業中のファイルに上書きして保存します。\n上書き保存"
  57604, 	"作業中のファイルに新しい名前を付けて保存します。\n名前を付けて保存"
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  57632, 	"選択範囲を消去\n消去"
  57633, 	"すべて消去\nすべて消去"
  57634, 	"選択範囲をクリップボードに保存します。\nコピー"
  57635, 	"選択範囲を切り取ってクリップボードに保存します。\n切り取り"
  57636, 	"指定した文字列の検索\n検索"
  57637, 	"クリップボードの内容を貼り付けます。\n貼り付け"
  57640, 	"直前に行った動作を繰り返す\n繰り返し"
  57641, 	"指定した文字列を他の文字列で置換\n置換"
  57642, 	"全てを選択します。\n全て選択"
  57643, 	"直前に行った動作を元に戻します。\n元に戻す"
  57644, 	"元に戻した操作をやり直します。\nやり直し"
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  57653, 	"作業中のｳｨﾝﾄﾞｳを分割\n分割"
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  57664, 	"Dominoのバージョンと著作権を表示します。\nバージョン情報"
  57665, 	"アプリケーションを終了します。\n終了"
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  57680, 	"次のｳｨﾝﾄﾞｳに切り替える\n次のﾍﾟｲﾝ"
  57681, 	"前のｳｨﾝﾄﾞｳに切り替える\n前のﾍﾟｲﾝ"
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  59136, 	"EXT"
  59137, 	"CAP"
  59138, 	"NUM"
  59139, 	"SCRL"
  59140, 	"上書"
  59141, 	"記録"
  59142, 	"ｶﾅ"
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  59392, 	"ﾂｰﾙ ﾊﾞｰの 表示/非表示\nﾂｰﾙ ﾊﾞｰの表示切り替え"
  59393, 	"ステータスバーの表示/非表示を切り替えます。\nステータスバー"
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  61184, 	"ｳｨﾝﾄﾞｳのｻｲｽﾞを変更"
  61185, 	"ｳｨﾝﾄﾞｳの位置を変更"
  61186, 	"ｳｨﾝﾄﾞｳを最小化する"
  61187, 	"ｳｨﾝﾄﾞｳを最大化する"
  61188, 	"次のｳｨﾝﾄﾞｳに切り替える"
  61189, 	"前のｳｨﾝﾄﾞｳに切り替える"
  61190, 	"作業中のｳｨﾝﾄﾞｳを閉じ、変更したﾌｧｲﾙの保存を指示"
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  61202, 	"ｳｨﾝﾄﾞｳを通常のｻｲｽﾞに戻す"
  61203, 	"ｱﾌﾟﾘｹｰｼｮﾝの切り替え"
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  61440, 	"開く"
  61441, 	"名前を付けて保存"
  61442, 	"すべてのﾌｧｲﾙ (*.*)"
  61443, 	"無題"
  61446, 	"無題のﾌｧｲﾙ"
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  61457, 	"非表示(&H)"
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  61472, 	"ｴﾗｰ ﾒｯｾｰｼﾞはありません。"
  61473, 	"ｻﾎﾟｰﾄされていない操作を実行しました。"
  61474, 	"必要なﾘｿｰｽを利用できませんでした。"
  61475, 	"ﾒﾓﾘが不足しています。"
  61476, 	"不明なｴﾗｰが発生しました。"
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  61696, 	"無効なﾌｧｲﾙ名です。"
  61697, 	"ﾄﾞｷｭﾒﾝﾄを開くことに失敗しました。"
  61698, 	"ﾄﾞｷｭﾒﾝﾄの保存に失敗しました。"
  61699, 	"%1 への変更を保存しますか?"
  61700, 	"空のﾄﾞｷｭﾒﾝﾄの作成に失敗しました。"
  61701, 	"ﾌｧｲﾙが大きすぎて開けません。"
  61702, 	"印刷ｼﾞｮﾌﾞを開始できませんでした。"
  61703, 	"ﾍﾙﾌﾟの起動に失敗しました。"
  61704, 	"ｱﾌﾟﾘｹｰｼｮﾝの内部ｴﾗｰです。"
  61705, 	"ｺﾏﾝﾄﾞの実行に失敗しました。"
  61706, 	"ﾒﾓﾘ不足のため実行できません。"
  61707, 	"ｼｽﾃﾑ ﾚｼﾞｽﾄﾘ ｴﾝﾄﾘは削除されています。また、INI ﾌｧｲﾙがある場合は、INI ﾌｧｲﾙも削除されました。"
  61708, 	"一部のｼｽﾃﾑ ﾚｼﾞｽﾄﾘ ｴﾝﾄﾘ (または INI ﾌｧｲﾙ) は削除されませんでした。"
  61709, 	"このﾌﾟﾛｸﾞﾗﾑにはﾌｧｲﾙ %s が必要ですがこのｼｽﾃﾑ上に見つかりませんでした。"
  61710, 	"このﾌﾟﾛｸﾞﾗﾑは欠落ｴｸｽﾎﾟｰﾄ %s にﾌｧｲﾙ %s 内でﾘﾝｸされています。このｺﾝﾋﾟｭｰﾀは互換性のないﾊﾞｰｼﾞｮﾝの %s を含んでいる可能性があります。"
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  61712, 	"整数を入力してください。"
  61713, 	"数字を入力してください。"
  61714, 	"%1 から %2 までの整数を入力してください。"
  61715, 	"%1 から %2 までの数字を入力してください。"
  61716, 	"%1 文字以内で入力してください。"
  61717, 	"ﾎﾞﾀﾝを選択してください。"
  61718, 	"0 から 255 までの整数を入力してください。"
  61719, 	"正の整数を入力してください。"
  61720, 	"日付/時刻を入力してください。"
  61721, 	"通貨型を入力してください。"
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  61728, 	"予期しないﾌｧｲﾙ形式です。"
  61729, 	"%1\nこのﾌｧｲﾙが見つかりません。\nﾊﾟｽとﾌｧｲﾙ名が正しいかどうか確認してださい。"
  61730, 	"出力先のﾃﾞｨｽｸ ﾄﾞﾗｲﾌﾞの空き容量が不足しています。"
  61731, 	"%1 は使用中のため、読み取れません。"
  61732, 	"%1 は使用中または読み取り専用のため、書き込めません。"
  61733, 	"%1 の読み取り中に予期しないｴﾗｰが発生しました。"
  61734, 	"%1 の書き込み中に予期しないｴﾗｰが発生しました。"
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  61836, 	"書き込み専用ﾌﾟﾛﾊﾟﾃｨからは読み取れません。"
  61837, 	"読み取り専用ﾌﾟﾛﾊﾟﾃｨには書き込めません。"
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  61840, 	"ﾒｰﾙ ｼｽﾃﾑ ｻﾎﾟｰﾄを読み込めません。"
  61841, 	"ﾒｰﾙ ｼｽﾃﾑ DLL が無効です。"
  61842, 	"ﾒｰﾙの送信に失敗しました。"
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  61856, 	"ｴﾗｰはありませんでした。"
  61857, 	"%1 へのｱｸｾｽ中に不明なｴﾗｰが発生しました。"
  61858, 	"%1 が見つかりませんでした。"
  61859, 	"%1 には無効なﾊﾟｽが含まれています。"
  61860, 	"開いているﾌｧｲﾙが多すぎるため、%1 を開けませんでした。"
  61861, 	"%1 へのｱｸｾｽは拒否されました。"
  61862, 	"%1 へ無効なﾌｧｲﾙ ﾊﾝﾄﾞﾙが関連付けられていました。"
  61863, 	"現在のﾃﾞｨﾚｸﾄﾘ %1 は削除できませんでした。"
  61864, 	"%1 を作成できませんでした。そのﾃﾞｨﾚｸﾄﾘはいっぱいです。"
  61865, 	"%1 のｼｰｸに失敗しました。"
  61866, 	"%1 へのｱｸｾｽ中にﾊｰﾄﾞｳｪｱ I/O ｴﾗｰが報告されました。"
  61867, 	"%1 へのｱｸｾｽ中に共有違反が発生しました。"
  61868, 	"%1 へのｱｸｾｽ中にﾛｯｸ違反が発生しました。"
  61869, 	"%1 へのｱｸｾｽ中にﾃﾞｨｽｸがいっぱいになりました。"
  61870, 	"%1 の末尾以降にｱｸｾｽしようとしました。"
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  61872, 	"ｴﾗｰはありませんでした。"
  61873, 	"%1 へのｱｸｾｽ中に不明なｴﾗｰが発生しました。"
  61874, 	"%1 の読み取り中に書き込もうとしました。"
  61875, 	"%1 の末尾以降にｱｸｾｽしようとしました。"
  61876, 	"%1 へ書き込み中に読み取ろうとしました。"
  61877, 	"%1 の形式が正しくありません。"
  61878, 	"%1 は予期しないｵﾌﾞｼﾞｪｸﾄを含んでいます。"
  61879, 	"%1 は不正なｽｷｰﾏを含んでいます。"
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  61888, 	"ﾋﾟｸｾﾙ"
}

