STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  1000, 	"現在の演奏位置とテンポを表示します。\n現在の演奏位置とテンポ"
  1001, 	"カレントトラックを変更します。\nカレントトラック"
  1002, 	"デフォルトのベロシティ値を指定します。\nデフォルトベロシティ"
  1003, 	"デフォルトのゲート値を指定します。\nデフォルトゲート"
  1004, 	"ペンや選択ツールで行われるクォンタイズを変更します。\nツールクォンタイズ"
  1005, 	" Meas : Tick "
  1006, 	" C 4                "
  1007, 	" 選択 "
}

