STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  32784, 	"指定のファイルを開きます。"
  32785, 	"指定のファイルを開きます。"
  32786, 	"指定のファイルを開きます。"
  32787, 	"指定のファイルを開きます。"
  32788, 	"指定のファイルを開きます。"
  32789, 	"指定のファイルを開きます。"
  32790, 	"指定のファイルを開きます。"
  32791, 	"ファイル履歴をクリアします。\n履歴クリア"
  32792, 	"曲のタイトルや著作権・分解能などの設定を行います。\n曲のプロパティ"
  32793, 	"環境設定を行います。\n環境設定"
  32794, 	"標準MIDI形式(*.mid)でファイルを書き出します。\nSMF書き出し"
  32795, 	"選択範囲を削除します。\n削除"
  32796, 	"クリップボードの内容を挿入貼り付けします。\n挿入貼り付け"
  32797, 	"選択を解除します。\n選択の解除"
  32798, 	"選択された長さの時間を挿入します。\n時間挿入"
  32799, 	"選択された時間を削除します。\n時間削除"
}

