STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  32800, 	"MIDI-INからMIDIイベントをリアルタイムに録音します。\nリアルタイム録音"
  32801, 	"MIDI-INからMIDIイベントをステップ録音します。\nステップ録音"
  32802, 	"MIDI-INからエクスクルーシブを受信します。\nエクスクルーシブ受信"
  32803, 	"拍子をコンダクタートラックへ挿入します（小節単位）。\n拍子"
  32804, 	"ツールバーの表示/非表示を切り替えます。\nツールバー表示切り替え"
  32805, 	"Step値の操作によって影響を受けたくない位置（開始時間）を設定します。\nStepロック設定"
  32806, 	"Stepロックの設定を解除します。\nStepロック解除"
  32807, 	"X軸の表示倍率を上げます。\nX軸方向のズームイン"
  32808, 	"X軸の表示倍率を下げます。\nX軸方向のズームアウト"
  32809, 	"Y軸の表示倍率を上げます。\nY軸方向のズームイン"
  32810, 	"Y軸の表示倍率を下げます。\nY軸方向のズームアウト"
  32811, 	"マークバーの表示/非表示を切り替えます。\nマークバーの表示切り替え"
  32812, 	"トラックバーの表示/非表示を切り替えます。\nトラックバーの表示切り替え"
  32813, 	"トラックリストの表示/非表示を切り替えます。\nトラックリストの表示切り替え"
  32814, 	"アウトプットペインの表示/非表示を切り替えます。\nアウトプットペインの表示切り替え"
}

