STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  32896, 	"演奏位置を次の小節の位置へ移動します。\n一つ次の小節へ"
  32897, 	"カレントトラックの演奏する/しないを切り替えます。\nトラックの演奏"
  32898, 	"カレントトラックをソロ演奏します。\nソロ演奏"
  32899, 	"全トラックを演奏します。\n全トラック演奏"
  32900, 	"現在の演奏位置と音源の内部状態（ピッチベンドなど）を合わせます。\nMIDI機器の状態を合わせる"
  32901, 	"おおよその演奏時間を計算します。\n演奏時間の算出"
  32902, 	"新しいトラックを追加します。\nトラックの追加"
  32903, 	"選択されたトラックを削除します。\nトラックの削除"
  32904, 	"トラックのプロパティを表示します。\nトラックのプロパティ"
  32905, 	"一つ前のトラックを表示します。\n前のトラックへ"
  32906, 	"一つ次のトラックを表示します。\n次のトラックへ"
}

