STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  32973, 	"コントロール値を上下左右に移動させるアンカーの表示/非表示を切り替えます。\nアンカーの表示切り替え"
  32974, 	"コントロール値を上下左右に移動させるアンカーの表示/非表示を切り替えます。\nアンカーの表示切り替え"
  32975, 	"出力内容をクリップボードへコピーします。"
}

