STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  33008, 	"クォンタイズを行う際の、音の長さを指定します。\nクォンタイズ - 8分音符"
  33009, 	"クォンタイズを行う際の、音の長さを指定します。\nクォンタイズ - 3連8分音符"
  33010, 	"クォンタイズを行う際の、音の長さを指定します。\nクォンタイズ - 付点16分音符"
  33011, 	"クォンタイズを行う際の、音の長さを指定します。\nクォンタイズ - 16分音符"
  33012, 	"クォンタイズを行う際の、音の長さを指定します。\nクォンタイズ - 3連16分音符"
  33013, 	"クォンタイズを行う際の、音の長さを指定します。\nクォンタイズ - 付点32分音"
  33014, 	"クォンタイズを行う際の、音の長さを指定します。\nクォンタイズ - 32分音符"
  33015, 	"クォンタイズを行う際の、音の長さを指定します。\nクォンタイズ - 3連32分音符"
  33016, 	"ツールバーをカスタマイズします。\nカスタマイズ"
  33017, 	"ツールバーの表示/非表示を切り替えます。\nツールバー表示切り替え"
  33018, 	"イベントリストやイベントグラフのサイズを初期状態に戻します。\n各ペインのサイズをリセット"
  33020, 	"取扱説明書を開きます。\n取扱説明書"
  33021, 	"公式サイトをブラウザで開きます。\n公式サイトへ"
  33022, 	"不具合報告テンプレートを表示します。\n不具合報告"
}

