STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  33024, 	"音源定義ファイルの情報を表示します。\n音源定義ファイル情報"
  33025, 	"イベントグラフへ指定値を書き込みます。"
  33026, 	"イベントグラフへ指定値を書き込みます。"
  33027, 	"イベントグラフへ指定値を書き込みます。"
  33028, 	"イベントグラフへ指定値を書き込みます。"
  33029, 	"イベントグラフへ指定値を書き込みます。"
  33030, 	"イベントグラフへ指定値を書き込みます。"
  33031, 	"イベントグラフへ指定値を書き込みます。"
  33032, 	"イベントグラフへ指定値を書き込みます。"
  33033, 	"イベントグラフへ指定値を書き込みます。"
  33034, 	"イベントグラフへ指定値を書き込みます。"
  33035, 	"演奏位置を手動で変更した際に、現在の演奏位置と音源の内部状態（ピッチベンドなど）を合わせます。\nMIDI機器の状態を自動的に合わせる"
  33036, 	"歌詞を挿入します。\n歌詞の挿入"
  33037, 	"キューポイントを挿入します。\nキューポイントの挿入"
  33038, 	"カーソル位置の値に 1 を加えます（列やイベントによって補正値は異なります）。\n小単位で加える"
  33039, 	"カーソル位置の値から 1 を引きます（列やイベントによって補正値は異なります）。\n小単位で引く"
}

