STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  33056, 	"デフォルトVelocityを変更します。\nメゾフォルテ"
  33057, 	"デフォルトVelocityを変更します。\nフォルテ"
  33058, 	"デフォルトVelocityを変更します。\nフォルティッシモ"
  33059, 	"デフォルトVelocityを変更します。\nフォルティッシシモ"
  33060, 	"デフォルトGateを変更します。\nデフォルトGate - 全音符"
  33061, 	"デフォルトGateを変更します。\nデフォルトGate - 付点2分音符"
  33062, 	"デフォルトGateを変更します。\nデフォルトGate - 2分音符"
  33063, 	"デフォルトGateを変更します。\nデフォルトGate - 3連2分音符"
  33064, 	"デフォルトGateを変更します。\nデフォルトGate - 付点4分音符"
  33065, 	"デフォルトGateを変更します。\nデフォルトGate - 4分音符"
  33066, 	"デフォルトGateを変更します。\nデフォルトGate - 3連4分音符"
  33067, 	"デフォルトGateを変更します。\nデフォルトGate - 付点8分音符"
  33068, 	"デフォルトGateを変更します。\nデフォルトGate - 8分音符"
  33069, 	"デフォルトGateを変更します。\nデフォルトGate - 3連8分音符"
  33070, 	"デフォルトGateを変更します。\nデフォルトGate - 付点16分音符"
  33071, 	"デフォルトGateを変更します。\nデフォルトGate - 16分音符"
}

