STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  33072, 	"デフォルトGateを変更します。\nデフォルトGate - 3連16分音符"
  33073, 	"デフォルトGateを変更します。\nデフォルトGate - 付点32分音符"
  33074, 	"デフォルトGateを変更します。\nデフォルトGate - 32分音符"
  33075, 	"デフォルトGateを変更します。\nデフォルトGate - 3連32分音符"
  33076, 	"ツールバーの表示/非表示を切り替えます。\nツールバー表示切り替え"
  33077, 	"カレントポートに対してGMリセットを送信します。\nGMリセット送信"
  33078, 	"ツールバーやマークバーなどが動かないように固定します。\nバー位置の固定"
  33079, 	"イベントリストペインのカーソル位置と演奏位置の同期/非同期を切り替えます。\nイベントリストペインと演奏位置の同期/非同期切り替え"
  33081, 	"デフォルトGate/Velocityをトラック毎に記憶します。\nデフォルト値をトラック毎に記憶"
  33082, 	"オニオンスキンの設定をトラック毎に記憶します。\n設定をトラック毎に記憶する"
  33086, 	"各項目の幅を初期状態に戻します。\n項目の幅をリセット"
  33087, 	"範囲を数値等で指定し、選択します。\n範囲の選択"
}

