STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  33104, 	"ベロシティイベントの表示/非表示を切り替えます。\nイベントリストフィルター : Velocity"
  33105, 	"ピッチベンドイベントの表示/非表示を切り替えます。\nイベントリストフィルター : Pitch Bend"
  33106, 	"モジュレーションイベントの表示/非表示を切り替えます。\nイベントリストフィルター : Modulation"
  33107, 	"エクスプレッションイベントの表示/非表示を切り替えます。\nイベントリストフィルター : Expression"
  33108, 	"ボリュームイベントの表示/非表示を切り替えます。\nイベントリストフィルター : Volume"
  33109, 	"パンポットイベントの表示/非表示を切り替えます。\nイベントリストフィルター : Panpot"
  33110, 	"ホールドイベントの表示/非表示を切り替えます。\nイベントリストフィルター : Hold"
  33111, 	"ローパスフィルターの周波数帯域イベントの表示/非表示を切り替えます。\nイベントリストフィルター : LPF Cutoff Frequency"
  33112, 	"レゾナンスイベントの表示/非表示を切り替えます。\nイベントリストフィルター : LPF Resonance"
  33113, 	"マスターボリュームイベントの表示/非表示を切り替えます。\nイベントリストフィルター : Master Volume"
  33114, 	"エクスクルーシブイベントの表示/非表示を切り替えます。\nイベントリストフィルター : エクスクルーシブイベント"
  33115, 	"コメントイベントの表示/非表示を切り替えます。\nイベントリストフィルター : コメントイベント"
  33116, 	"変数代入式イベントの表示/非表示を切り替えます。\nイベントリストフィルター : 変数代入式イベント"
  33117, 	"テンポイベントの表示/非表示を切り替えます。\nイベントリストフィルター : テンポイベント"
  33118, 	"歌詞イベントの表示/非表示を切り替えます。\nイベントリストフィルター : 歌詞イベント"
  33119, 	"キューポイントイベントの表示/非表示を切り替えます。\nイベントリストフィルター : キューポイントイベント"
}

