STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  33120, 	"ツールバーの表示/非表示を切り替えます。\nツールバー表示切り替え"
  33121, 	"全コントロールチェンジイベントの表示/非表示を切り替えます。\nイベントリストフィルター : 全コントロールチェンジイベント"
  33122, 	"トラックセレクトペインの表示/非表示を切り替えます。\nトラックセレクトペインの表示切り替え"
  33123, 	"調号をコンダクタートラックへ挿入します（小節単位）。\n調号"
  33124, 	"ノート以外のイベントの選択を解除します。\nノートのみ選択"
  33125, 	"演奏モニターの表示/非表示を切り替えます。\n演奏モニターの表示切り替え"
  33126, 	"MIDIキーボードなどで入力中の情報を元にノートを挿入します。\nMIDI INの情報からノートを挿入"
  33127, 	"イベントリストのカーソルもしくは演奏線がある小節のみを一時的にソロ演奏します。\n小節ソロ演奏"
  33128, 	"カーソル位置の一つ前のイベントを削除します。\n一つ前のイベントを削除"
  33129, 	"カーソル位置の一つ前のイベントを削除します。その際、削除されるイベントのStep分を詰めます。\n一つ前のイベントを削除(詰める)"
  33130, 	"カレントトラックを一時的にソロ演奏します。\nソロ演奏開始"
  33131, 	"演奏を停止します。\n停止"
  33132, 	"ピアノロールを上へスクロールします。\nピアノロールを上へスクロール"
  33133, 	"ピアノロールを下へスクロールします。\nピアノロールを下へスクロール"
  33134, 	"ピアノロールを左へスクロールします。\nピアノロールを左へスクロール"
  33135, 	"ピアノロールを右へスクロールします。\nピアノロールを右へスクロール"
}

