STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  33136, 	"イベントを詰めて削除します（イベントリストのみ）。\n削除(詰める)"
  33137, 	"スクロール量を設定します。\nスクロール量の設定"
  33138, 	"コード入力支援機能をオフにします。\n通常入力に戻す"
  33139, 	"コードの登録などを行います。\nコード入力支援の設定"
}

