STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  33264, 	"Tick,Gate,Stepへの入力を100倍・10倍・1倍に桁下げします。\n桁を下げる"
  33265, 	"カーソル位置のノートを発音します。\nノートイベントの発音"
  33266, 	"カーソル位置のノート（＋同タイミングのノート）を発音します。\nノートイベント（和音）の発音"
  33267, 	"デフォルトGateをクォンタイズ単位で増やします。\nデフォルトGateを増やす"
  33268, 	"デフォルトGateをクォンタイズ単位で減らします。\nデフォルトGateを減らす"
  33269, 	"デフォルトVelocityを増やします（量は環境設定で指定します）。\nデフォルトVelocityを増やす"
  33270, 	"デフォルトVelocityを減らします（量は環境設定で指定します）。\nデフォルトVelocityを減らす"
  33271, 	"選択範囲からループマーカーを作成します。\n選択範囲からループマーカーを作成"
  33272, 	"ループマーカーを削除します。\nループマーカーの削除"
  33273, 	"選択されたノートのGateを次のノート発音位置まで伸縮させます。\nレガート"
  33274, 	"カーソル位置の値に 100 を加えます（列やイベントによって補正値は異なります）。\n大単位で加える"
  33275, 	"カーソル位置の値から 100 を引きます（列やイベントによって補正値は異なります）。\n大単位で引く"
  33276, 	"ファンクションキーバーの表示/非表示を切り替えます。\nファンクションキーバーの表示切り替え"
  33277, 	"イベントリスト専用のMIDI入力機能の有効/無効を切り替えます。\nイベントリストMIDI入力を有効にする"
  33278, 	"カーソル位置のノートをMIDI入力情報に置き換えます（Shift+MIDI入力で代用可能）。\n置き換え"
  33279, 	"カーソル位置へMIDI入力されたノートを挿入します（Alt+MIDI入力で代用可能）。\n挿入"
}

