STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  57600, 	"新規に曲を作成します。\n新規作成"
  57601, 	"音楽ファイルを開きます。\n開く"
  57603, 	"作業中のファイルに上書きして保存します。\n上書き保存"
  57604, 	"作業中のファイルに新しい名前を付けて保存します。\n名前を付けて保存"
}

