STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  57632, 	"選択範囲を消去\n消去"
  57633, 	"すべて消去\nすべて消去"
  57634, 	"選択範囲をクリップボードに保存します。\nコピー"
  57635, 	"選択範囲を切り取ってクリップボードに保存します。\n切り取り"
  57636, 	"指定した文字列の検索\n検索"
  57637, 	"クリップボードの内容を貼り付けます。\n貼り付け"
  57640, 	"直前に行った動作を繰り返す\n繰り返し"
  57641, 	"指定した文字列を他の文字列で置換\n置換"
  57642, 	"全てを選択します。\n全て選択"
  57643, 	"直前に行った動作を元に戻します。\n元に戻す"
  57644, 	"元に戻した操作をやり直します。\nやり直し"
}

