STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  61696, 	"ファイル名が正しくありません。"
  61697, 	"ドキュメントを開くことに失敗しました。"
  61698, 	"ドキュメントの保存に失敗しました。"
  61699, 	"%1 への変更を保存しますか?"
  61700, 	"空のドキュメントの作成に失敗しました。"
  61701, 	"ファイルが大きすぎて開けません。"
  61702, 	"印刷ジョブを開始できませんでした。"
  61703, 	"ヘルプの起動に失敗しました。"
  61704, 	"アプリケーションの内部エラーです。"
  61705, 	"コマンドの実行に失敗しました。"
  61706, 	"メモリ不足のため実行できません。"
  61707, 	"システム レジストリ エントリは削除されています。また、INI ファイルがある場合は、INI ファイルも削除されました。"
  61708, 	"一部のシステム レジストリ エントリ (または INI ファイル) は削除されませんでした。"
  61709, 	"このプログラムにはファイル %Ts が必要ですがこのシステム上に見つかりませんでした。"
  61710, 	"このプログラムは欠落エクスポート %Ts にファイル %Ts 内でリンクされています。このコンピューターは互換性のないバージョンの %Ts を含んでいる可能性があります。"
}

