STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  61728, 	"予期しないファイル形式です。"
  61729, 	"%1\nこのファイルが見つかりません。\nパスとファイル名が正しいかどうか確認してださい。"
  61730, 	"出力先のディスク ドライブの空き容量が不足しています。"
  61731, 	"%1 は使用中のため、読み取れません。"
  61732, 	"%1 は使用中または読み取り専用のため、書き込めません。"
  61733, 	"%1 の読み取り中に予期しないエラーが発生しました。"
  61734, 	"%1 の書き込み中に予期しないエラーが発生しました。"
}

