STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  32848, 	"カーソル位置にあるイベントのプロパティを表示します。\nイベントのプロパティ"
  32849, 	"現在の演奏位置に全トラックのEnd of Trackが来るように調節します。\nEnd Of Trackの調節"
  32850, 	"ピアノロール上へノートを配置します。コントロールペイン上へデータを書き込みます。\nペン"
  32851, 	"ピアノロールまたはコントロールペインを左ドラッグで選択します。\n選択"
  32852, 	"ピアノロールまたはコントロールペインにて左ドラッグした範囲を削除します。\n消しゴム"
  32853, 	"ペンツールと選択ツールを切り替えます。\nペン/選択ツールの切り替え"
  32855, 	"ノートの配置位置をクォンタイズします。\nTickクォンタイズ"
  32856, 	"ノートの長さをクォンタイズします。\nGateクォンタイズ"
  32857, 	"イベントグラフペインにフリーハンドでデータを書き込みます。\nフリーハンド"
  32858, 	"イベントグラフペインに直線データを書き込みます。\n直線"
  32859, 	"イベントグラフペインにゆるやかな曲線データを書き込みます。\nゆるやかな曲線"
  32861, 	"イベントグラフペインに早い曲線データを書き込みます。\nはやい曲線"
  32862, 	"イベントグラフペインにランダムデータを書き込みます。\nランダム"
  32863, 	"イベントグラフに書き込む曲線の式を編集します。\n曲線カスタマイズ"
}

