STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  32864, 	"指定の直線・曲線を使用します。"
  32865, 	"指定の直線・曲線を使用します。"
  32866, 	"指定の直線・曲線を使用します。"
  32867, 	"指定の直線・曲線を使用します。"
  32868, 	"指定の直線・曲線を使用します。"
  32869, 	"指定の直線・曲線を使用します。"
  32870, 	"指定の直線・曲線を使用します。"
  32871, 	"指定の直線・曲線を使用します。"
  32872, 	"指定の直線・曲線を使用します。"
  32873, 	"指定の直線・曲線を使用します。"
  32874, 	"指定の直線・曲線を使用します。"
  32875, 	"指定の直線・曲線を使用します。"
  32876, 	"指定の直線・曲線を使用します。"
  32877, 	"指定の直線・曲線を使用します。"
  32878, 	"指定の直線・曲線を使用します。"
  32879, 	"指定の直線・曲線を使用します。"
}

