STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  33090, 	"演奏位置（カレントトラック＋オニオンスキントラック）のコードを解析し、ステータスバーに表示します。\n演奏位置のコードを表示"
  33094, 	"指定したポートのデフォルトトラックを一括して追加します。\nデフォルトトラックの追加"
  33095, 	"選択範囲内に存在するオニオンスキンノートをカレントトラックへコピーします。\nオニオンスキンノートの複製"
  33096, 	"[MIDI機器の状態を合わせる]機能のトラック別設定を行います。\nトラック個別設定"
  33097, 	"選択されたイベントのTickやGate、Value値を乱数でブレさせます。\nヒューマナイズ"
  33098, 	"イベントリストフィルターの詳細設定を行います。\nイベントリストフィルター詳細設定"
  33099, 	"イベントリストフィルター機能のオン/オフを切り替えます。\nフィルター機能を使う"
  33100, 	"イベントリストフィルターの設定を全てリセットします。\nイベントリストフィルターのリセット"
  33101, 	"ノートイベントの表示/非表示を切り替えます。\nイベントリストフィルター : ノートイベント"
  33102, 	"プログラムチェンジイベントの表示/非表示を切り替えます。\nイベントリストフィルター : プログラムチェンジイベント"
}

