STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  33260, 	"イベントグラフのオニオンスキンを設定します。\nイベントグラフオニオンスキン"
  33261, 	"イベントグラフのオニオンスキンを設定します。\nイベントグラフオニオンスキン"
  33262, 	"コード一覧をポップアップ表示します。\nコード一覧を表示"
  33263, 	"Tick,Gate,Stepへの入力を10倍・100倍・1000倍に桁上げします。\n桁を上げる"
}

