STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  61696, 	"無効なﾌｧｲﾙ名です。"
  61697, 	"ﾄﾞｷｭﾒﾝﾄを開くことに失敗しました。"
  61698, 	"ﾄﾞｷｭﾒﾝﾄの保存に失敗しました。"
  61699, 	"%1 への変更を保存しますか?"
  61700, 	"空のﾄﾞｷｭﾒﾝﾄの作成に失敗しました。"
  61701, 	"ﾌｧｲﾙが大きすぎて開けません。"
  61702, 	"印刷ｼﾞｮﾌﾞを開始できませんでした。"
  61703, 	"ﾍﾙﾌﾟの起動に失敗しました。"
  61704, 	"ｱﾌﾟﾘｹｰｼｮﾝの内部ｴﾗｰです。"
  61705, 	"ｺﾏﾝﾄﾞの実行に失敗しました。"
  61706, 	"ﾒﾓﾘ不足のため実行できません。"
  61707, 	"ｼｽﾃﾑ ﾚｼﾞｽﾄﾘ ｴﾝﾄﾘは削除されています。また、INI ﾌｧｲﾙがある場合は、INI ﾌｧｲﾙも削除されました。"
  61708, 	"一部のｼｽﾃﾑ ﾚｼﾞｽﾄﾘ ｴﾝﾄﾘ (または INI ﾌｧｲﾙ) は削除されませんでした。"
  61709, 	"このﾌﾟﾛｸﾞﾗﾑにはﾌｧｲﾙ %s が必要ですがこのｼｽﾃﾑ上に見つかりませんでした。"
  61710, 	"このﾌﾟﾛｸﾞﾗﾑは欠落ｴｸｽﾎﾟｰﾄ %s にﾌｧｲﾙ %s 内でﾘﾝｸされています。このｺﾝﾋﾟｭｰﾀは互換性のないﾊﾞｰｼﾞｮﾝの %s を含んでいる可能性があります。"
}

